@font-face {
    font-family: "DIN", sans-serif;
    src: url(../fonts/DIN\ Light.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "DIN", sans-serif;
    src: url(../fonts/DIN\ Bold.ttf);
    font-weight: 700;
}